<div class="row">
  <div class="col-md-3">
    <app-employee></app-employee>
  </div>
  <div class="col-md-9">
    <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="d-flex" role="search">
      <label for="filterText" class="form-label"></label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search" />
      <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addPaymentModal">Add
        Invoice</button>
    </div>

    <div *ngIf="filterText" class="alert alert-primary">
      Your search is {{ filterText }}.
    </div>

    <table class="table">
      <thead>
        <tr class="table-dark">
          <th>Id</th>
          <th>Project</th>
          <th>Fee Paid</th>
          <th>Description</th>
          <th>Payment Date</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let invoice of invoicedetails | filterInvoice: filterText" (click)="setCurrentInvoice(invoicedetails)">
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.projectName }}</td>
        <td>{{ invoice.feePaid }}</td>
        <td>{{ invoice.description }}</td>
        <td>{{ invoice.createdAt | date }}</td>
        <td>
          <button class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#invoiceDetailModal">
            Details
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Add Invoice Modal -->
<div class="modal fade" id="addInvoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Invoice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>

