<full-calendar [options]="calendarOptions"></full-calendar>

<!-- Modal -->
<div class="modal fade" id="addWork" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Work</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="workAddForm" *ngIf="workAddForm">
          <div class="form-group">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">For Which Employee</label>
              <select class="form-select" formControlName="employee" aria-label="Default select example">
                <option *ngFor="let employee of employees">{{ employee.name }} {{ employee.surname }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">For Which Project</label>
              <select class="form-select" formControlName="project" aria-label="Default select example">
                <option *ngFor="let project of projects">{{ project.name }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Working Hours</label>
              <input type="text" class="form-control" id="hour" formControlName="hour" placeholder="8 Hours" />
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
