<div class="row">
  <div class="col-md-3">
    <app-customer></app-customer>
  </div>
  <div class="col-md-9">
    <h1 class="display-5">Projects</h1>

    <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="d-flex" role="search">
      <label for="filterText" class="form-label"></label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search" />
      <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addProjectModal">Add
        Project</button>
    </div>

    <div *ngIf="filterText" class="alert alert-primary">
      Your search is {{ filterText }}.
    </div>

    <table class="table">
      <thead>
        <tr class="table-dark">
          <th>Customer Owner</th>
          <th>Name</th>
          <th>Constract Start Date</th>
          <th>Constract End Date</th>
          <th>Remaining Working Days</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let project of projectDetailed | filterPipe: filterText" (click)="setCurrentProject(project)">
        <td>{{ project.customerOwnerName }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.contractStartDate | date }}</td>
        <td [class]="calculateRemainingDaysEnd(project.contractStartDate, project.contractTerm)">{{ endDate | date }}
        </td>
        <td>{{ project.remainingWorkerHour}}</td>
        <!-- <td [class]="calculateRemainingDays(project.contractStartDate, project.contractTerm)">{{ remainingDays }} days</td> -->
        <td>
          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#updateProjectModal">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#projectDetailModal">
            Details
          </button>
        </td>
      </tr>
    </table>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="projectDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="currentProject" id="exampleModalLabel">
            Details of {{ currentProject.name }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title" *ngIf="currentProject">
                {{ currentProject.name }}
              </h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentProject">
                Project Id:{{ currentProject.id }}
              </h6> -->
              <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentProject"
                [class]="getProjectTypeEnum(currentProject.type)">
                Type: {{ projectType }}
              </h6>
              <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentProject">
                Sub Type: {{ currentProject.subType }}
              </h6>
              <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentProject">
                Owner {{ currentProject.customerOwnerName }}
              </h6>
              <p class="card-text" *ngIf="currentProject">
                Description: {{currentProject.description}}
              </p>
              <p class="card-text" *ngIf="currentProject" [class]="getCurrencyTypeEnum(currentProject.type)">
                Contract Budget: {{currentProject.contractBudget | currency}} {{currencyType}}
              </p>
              <p class="card-text" *ngIf="currentProject">
                Contract Term: {{currentProject.contractTerm}} Days
              </p>
              <p class="card-text" *ngIf="currentProject">
                Contract Start Date: {{currentProject.contractStartDate | date}}
              </p>
              <p class="card-text" *ngIf="currentProject" [class]="calculateRemainingDaysEnd(currentProject.contractStartDate, currentProject.contractTerm)">
                Contract End Date: {{endDate | date}}
              </p>
              <p class="card-text" *ngIf="currentProject">
                Total {{currentProject.workerDay}} Worker/Day
              </p>
              <p class="card-text" *ngIf="currentProject">
                {{currentProject.workerHour}} Worker/Hour
              </p>
              <p class="card-text" *ngIf="currentProject">
                {{currentProject.remainingWorkerHour}} Worker Day Remaining
              </p>
              <p class="card-text" *ngIf="currentProject">
                {{currentProject.remainingContractBudget | currency}} Remaining Budget
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteProject()">
            Delete
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add Project Modal -->
<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add New Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectAddForm">
          <div class="form-group">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Project Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" />
            </div>
            <div class="mb-3"> Project Type
              <select class="form-select" aria-label="Default select example" id="type" formControlName="type">
                <option selected [ngValue]=1>System</option>
                <option [ngValue]=2>Software</option>
                <option [ngValue]=3>System and Software</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Sub Type</label>
              <input type="email" class="form-control" id="email" formControlName="subType" placeholder="Sub Type" />
            </div>
            <div class="mb-3"> Employee Owner
              <select class="form-select" aria-label="Default select example" id="type"
                formControlName="employeeOwnerId">
                <option selected *ngFor="let employee of employees" [ngValue]=employee.id>{{employee.name}}
                  {{employee.surname}}</option>
              </select>
            </div>
            <div class="mb-3"> Customer Owner
              <select class="form-select" aria-label="Default select example" id="type"
                formControlName="customerOwnerId">
                <option selected *ngFor="let customer of customers" [ngValue]=customer.id>{{customer.name}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Contract Budget</label>
              <input type="text" class="form-control" id="name" formControlName="contractBudget" placeholder="Budget" [ngModel]="remainingContractBudgetval" (ngModelChange)="remainingContractBudgetval = $event"/>
              <input type="hidden" class="form-control" id="custId" name="custId" formControlName="remainingContractBudget" [ngModel]="remainingContractBudgetval"/>
            </div>
            <div class="mb-3"> Currency Type
              <select class="form-select" aria-label="Default select example" id="type" formControlName="currencyType">
                <option selected [ngValue]=1>₺</option>
                <option [ngValue]=2>$</option>
                <option [ngValue]=3>€</option>
                <option [ngValue]=4>£</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Contract Term</label>
              <input type="text" class="form-control" id="name" formControlName="contractTerm" placeholder="" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Constract Start Date:</label>
              <input type="date" id="birthday" name="birthday" formControlName="contractStartDate">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Worker Day</label>
              <input type="text" class="form-control" id="name" formControlName="workerDay" placeholder="" [ngModel]="remainingWorkerHourval" (ngModelChange)="remainingWorkerHourval = $event" />
              <input type="hidden" class="form-control" id="custId" name="custId" formControlName="remainingWorkerHour" [ngModel]="remainingWorkerHourval"/>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Worker Hour</label>
              <input type="text" class="form-control" id="name" formControlName="workerHour" placeholder="" />
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-success btn-sm" type="button" (click)="addProject()">
                Add Project
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Update Project Modal -->
<div class="modal fade" id="updateProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Update Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectUpdateForm" *ngIf="projectUpdateForm">
          <div class="form-group">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Project Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" />
            </div>
            <div class="mb-3"> Project Type
              <select class="form-select" aria-label="Default select example" id="type" formControlName="type">
                <option selected [ngValue]=1>System</option>
                <option [ngValue]=2>Software</option>
                <option [ngValue]=3>System and Software</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Sub Type</label>
              <input type="email" class="form-control" id="email" formControlName="subType"
                placeholder="name@example.com" />
            </div>
            <div class="mb-3"> Employee Owner
              <select class="form-select" aria-label="Default select example" id="type"
                formControlName="employeeOwnerId">
                <option selected *ngFor="let employee of employees" [ngValue]=employee.id>{{employee.name}}
                  {{employee.surname}}</option>
              </select>
            </div>
            <div class="mb-3"> Customer Owner
              <select class="form-select" aria-label="Default select example" id="type"
                formControlName="customerOwnerId">
                <option selected *ngFor="let customer of customers" [ngValue]=customer.id>{{customer.name}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Contract Budget</label>
              <input type="text" class="form-control" id="name" formControlName="contractBudget" placeholder="Budget" />
            </div>
            <div class="mb-3"> Currency Type
              <select class="form-select" aria-label="Default select example" id="type" formControlName="currencyType">
                <option selected [ngValue]=1>Turkish Lira</option>
                <option [ngValue]=2>Dollar</option>
                <option [ngValue]=3>Euro</option>
                <option [ngValue]=4>Pound</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Contract Term</label>
              <input type="text" class="form-control" id="name" formControlName="contractTerm" placeholder="Budget" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Constract Start Date:</label>
              <input type="date" id="birthday" name="birthday" formControlName="contractStartDate">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Worker Day</label>
              <input type="text" class="form-control" id="name" formControlName="workerDay" placeholder="Budget" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Worker Hour</label>
              <input type="text" class="form-control" id="name" formControlName="workerHour" placeholder="Budget" />
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-success btn-sm" type="button" (click)="updateProject()">
                Update Project
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
