<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table class="table">
  <thead>
    <tr class="table-dark">
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Sub Type</th>
      <th>Employee Owner</th>
      <th>Customer Owner</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr *ngFor="let project of projects">
    <td>{{project.id}}</td>
    <td>{{project.name}}</td>
    <td>{{project.type}}</td>
    <td>{{project.subType}}</td>
    <td>{{project.employeeOwnerId}}</td>
    <td>{{project.customerOwnerId}}</td>
    <td>{{project.description}}</td>
  </tr>
</table>
