<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li routerLink="/projects" [class]="getAllCustomerClass()">
        All Projects
      </li>
      <li (click)="setCurrentCustomer(customer)" routerLink="/projects/customer/{{ customer.id }}"
        *ngFor="let customer of customers" [class]="getCurrentCustomerClass(customer)">
        {{ customer.name }}
        <button type="button" class="btn btn-light btn-sm float-end" data-bs-toggle="modal"
          data-bs-target="#customerDetailModal">
          Details
        </button>
      </li>
    </ul>
    <p></p>
    <div class="d-grid gap-2">
      <button class="btn btn-success btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
        Add New Customer
      </button>
    </div>
    <h5 *ngIf="currentCustomer">
      Selected Customer is {{ currentCustomer.name }}
    </h5>

    <!-- Modal -->
    <div class="modal fade" id="customerDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" *ngIf="currentCustomer" id="exampleModalLabel">
              About {{ currentCustomer.name }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title" *ngIf="currentCustomer">
                  {{ currentCustomer.name }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentCustomer">
                  {{ currentCustomer.email }}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentCustomer">
                  {{ currentCustomer.phone }}
                </h6>
                <p class="card-text" *ngIf="currentCustomer">
                  {{ currentCustomer.description }}
                </p>
                <p class="card-text" *ngIf="currentCustomer">
                  {{ currentCustomer.createdAt | date }}
                </p>
                <p class="card-text" *ngIf="currentCustomer" [class]="getCustomerTypeEnum(currentCustomer.type)">
                  {{ customerType }}
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success">Update</button>
            <button type="button" class="btn btn-danger" (click)="deleteCustomer(currentCustomer)">
              Delete
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Phone No</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="0312" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3"> Customer Type
              <select class="form-select" aria-label="Default select example">
                <option selected>Type...</option>
                <option value="1">Individual</option>
                <option value="2">Corporate</option>
              </select>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="mb-3">
      <label for="filterText" class="form-label"></label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search" />
    </div>
    <div *ngIf="filterText" class="alert alert-primary">
      Your search is {{ filterText }}.
    </div>

    <table class="table">
      <thead>
        <tr class="table-dark">
          <th>Id</th>
          <th>Name</th>
          <th>Employee Owner</th>
          <th>Customer Owner</th>
          <th>Description</th>
          <th>Constract Start Date</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let project of projects | filterPipe: filterText" (click)="setCurrentProject(project)">
        <td>{{ project.id }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.employeeOwnerId }}</td>
        <td>{{ project.customerOwnerId }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.contractStartDate | date }}</td>
        <td>
          <button class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#projectDetailModal">
            Details
          </button>
        </td>
      </tr>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="projectDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" *ngIf="currentProject" id="exampleModalLabel">
              Details of {{ currentProject.name }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title" *ngIf="currentProject">
                  {{ currentProject.name }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentProject"
                  [class]="getProjectTypeEnum(currentProject.type)">
                  {{ projectType }} Project
                </h6>
                <p class="card-text" *ngIf="currentProject">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
