<div class="row">
  <div class="col-md-3">
    <app-employee></app-employee>
  </div>
  <div class="col-md-9">
    <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="d-flex" role="search">
      <label for="filterText" class="form-label"></label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search" />
      <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addPaymentModal">Add
        Payment</button>
    </div>

    <div *ngIf="filterText" class="alert alert-primary">
      Your search is {{ filterText }}.
    </div>

    <table class="table">
      <thead>
        <tr class="table-dark">
          <th>Id</th>
          <th>Name Surname</th>
          <th>Employee Id</th>
          <th>Project</th>
          <th>Fee Paid</th>
          <th>Remaining Budget</th>
          <th>Description</th>
          <th>Payment Date</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let payment of payments | filterPayment: filterText" (click)="setCurrentPayment(payment)">
        <td>{{ payment.id }}</td>
        <td>{{ payment.name }} {{ payment.surname }}</td>
        <td>{{ payment.employeeId }}</td>
        <td>{{ payment.projectId }}</td>
        <td>{{ payment.feePaid }}</td>
        <td>{{ payment.remainingBudget }}</td>
        <td>{{ payment.description }}</td>
        <td>{{ payment.createdAt | date }}</td>
        <td>
          <button class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#paymentDetailModal">
            Details
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
