<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="form-check form-check-inline">
      <input class="form-check-input" (click)="openAddCustomer()" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
      <label class="form-check-label" for="inlineRadio1">Add Customer</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" (click)="openAddProject()" routerLinkActive="router-link-active"  type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Add Project</label>
    </div>
  </div>
</div>

<app-addcustomer *ngIf="checkCustomer"></app-addcustomer>
<app-addproject *ngIf="checkProject"></app-addproject>


