<h1 class="display-5"> Customers </h1>

<div class="d-flex" role="search">
  <label for="filterText" class="form-label"></label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search" />
  <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addCustomerModal">Add
    Customer</button>
</div>

<div *ngIf="filterText" class="alert alert-primary">
  Your search is {{ filterText }}.
</div>

<table class="table">
  <thead>
    <tr class="table-dark">
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th>Type</th>
      <th>Phone</th>
      <th>Is Deleted?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let customer of customers | filterCustomer: filterText" (click)="setCurrentCustomer(customer)">
    <td>{{ customer.name }}</td>
    <td>{{ customer.email }}</td>
    <td>{{ customer.description }}</td>
    <td [class]="getCustomerTypeEnum(customer.type)">{{ customerType }}</td>
    <td>{{ customer.phone }}</td>
    <td [ngStyle]="{'background-color': customer.isDeleted? '#E64848' : ''}" [class]="getIsDeletedEnum(customer.isDeleted)">{{ isDelete }}</td>
    <td>
      <button type="button" (click)="setCurrentCustomer(customer)" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#updateCustomerModal">
        Edit
      </button>
    </td>
    <td>
      <button type="button" (click)="setCurrentCustomer(customer)" class="btn btn-outline-danger" (click)="deleteCustomer(currentCustomer, currentCustomer.id)">
        Delete
      </button>
    </td>
  </tr>
</table>

<!-- Add Customer Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add New Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerAddForm">
          <div class="form-group">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Email Address</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Phone Number</label>
              <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="0312" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
            </div>
            <div class="mb-3"> Customer Type
              <select class="form-select" aria-label="Default select example" id="type" formControlName="type">
                <option selected [ngValue]=1>Individual</option>
                <option [ngValue]=2>Corporate</option>
              </select>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success btn-sm" type="button" (click)="addCustomer()">
                Add Customer
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Update Customer Modal -->
<div class="modal fade" id="updateCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerUpdateForm" *ngIf="customerUpdateForm">
          <div class="form-group">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Name</label>
              <input type="text" class="form-control" id="nameu" formControlName="name" placeholder="Name" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Email Address</label>
              <input type="email" class="form-control" id="emailu" formControlName="email" placeholder="name@example.com" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Phone Number</label>
              <input type="text" class="form-control" id="phoneu" formControlName="phone" placeholder="0312 000 00 00" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="descriptionu" rows="3" formControlName="description"></textarea>
            </div>
            <div class="mb-3"> Customer Type
              <select class="form-select" aria-label="Default select example" id="typeu" formControlName="type">
                <option selected [ngValue]=1>Individual</option>
                <option [ngValue]=2>Corporate</option>
              </select>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success btn-sm" type="button" (click)="updateCustomer()">
                Update Customer
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
