<h1 class="display-5">Customers</h1>

<ul class="list-group">
  <li routerLink="/projects" [class]="getAllCustomerClass()">
    All Projects
  </li>
  <li (click)="setCurrentCustomer(customer)" routerLink="/projects/customer/{{ customer.id}}"
    *ngFor="let customer of customers" [class]="getCurrentCustomerClass(customer)">
    {{ customer.name }}
    <button type="button" class="btn btn-outline-dark btn-sm float-end" data-bs-toggle="modal"
      data-bs-target="#customerDetailModal">
      Details
    </button>
  </li>
</ul>
<p></p>
<div class="d-grid gap-2">
  <button class="btn btn-success btn-sm" type="button" (click)="openModal()">
    Add Customer
  </button>
</div>

<!-- Customer Details Modal -->
<div class="modal fade" id="customerDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="currentCustomer" id="detailModalLabel">
          About {{ currentCustomer.name }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title" *ngIf="currentCustomer">
              {{ currentCustomer.name }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentCustomer">
              {{ currentCustomer.email }}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted" *ngIf="currentCustomer">
              {{ currentCustomer.phone }}
            </h6>
            <p class="card-text" *ngIf="currentCustomer">
              {{ currentCustomer.description }}
            </p>
            <p class="card-text" *ngIf="currentCustomer">
              {{ currentCustomer.createdAt | date }}
            </p>
            <p class="card-text" *ngIf="currentCustomer" [class]="getCustomerTypeEnum(currentCustomer.type)">
              {{ customerType }}
            </p>
            <p class="card-text" *ngIf="currentCustomer" [class]="getIsDeletedEnum(currentCustomer.isDeleted)">
             Is Deleted? {{ isDelete }}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateCustomerModal">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteCustomer(currentCustomer, currentCustomer.id)">
          Delete
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Add Customer Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add New Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerAddForm">
          <div class="form-group">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Email Address</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Phone Number</label>
              <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="0312" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
            </div>
            <div class="mb-3"> Customer Type
              <select class="form-select" aria-label="Default select example" id="type" formControlName="type">
                <option selected [ngValue]=1>Individual</option>
                <option [ngValue]=2>Corporate</option>
              </select>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success btn-sm" type="button" (click)="addCustomer()">
                Add Customer
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Update Customer Modal -->
<div class="modal fade" id="updateCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerUpdateForm" *ngIf="customerUpdateForm">
          <div class="form-group">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Name</label>
              <input type="text" class="form-control" id="nameu" formControlName="name" placeholder="Name" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Email Address</label>
              <input type="email" class="form-control" id="emailu" formControlName="email" placeholder="name@example.com" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Customer Phone Number</label>
              <input type="text" class="form-control" id="phoneu" formControlName="phone" placeholder="0312 000 00 00" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="descriptionu" rows="3" formControlName="description"></textarea>
            </div>
            <div class="mb-3"> Customer Type
              <select class="form-select" aria-label="Default select example" id="typeu" formControlName="type">
                <option selected [ngValue]=1>Individual</option>
                <option [ngValue]=2>Corporate</option>
              </select>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success btn-sm" type="button" (click)="updateCustomer()">
                Update Customer
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
